html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: whitesmoke;
}

header {
  margin-bottom: 60px;
}

h1 {
  color: white;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 60px;
}

.navbar-custom {
  background-color: #fcca46;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.container-lg {
  background-color: #233d4d;
  border-style: solid;
  padding: 2rem;
  margin-bottom: 20px;
}

.card-img-top {
  width: 199px;
  height: auto;
}

.card {
  width: 200px;
  margin-bottom: 15px;
}
