html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: whitesmoke;
}

header {
    margin-bottom:60px;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 60px;
}

.container-lg {
    background-color: slategrey; 
    border-style: solid;
    padding: 2rem;
    margin-bottom: 20px;
}


.card-img-top {
    width: 200px;
    height: 200px;
}

.card{
    width:200px;
    margin-bottom: 15px;
} 